<?xml version="1.0" encoding="UTF-8"?>
<Configuration scan="true" scanPeriod="30 seconds" status="warn">
    <Properties>
        <Property name="logHome">${catalina.base}/log/ktattoo</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%.-19date [%thread] [%level] [%logger] >>> %msg%n</Pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="fileAudit" fileName="${logHome}/ktattoo.log"
                     filePattern="${logHome}/$${date:yyyy-MM}/sphere-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <Pattern>%.-19date [%thread] [%level] >>> %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="fileError" fileName="${logHome}/error.log"
                     filePattern="${logHome}/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <Pattern>%.-19date [%thread] [%level] >>> %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="by.kalilaska" level="debug" additivity="false">
            <appender-ref ref="console" level="debug" />
            <appender-ref ref="fileAudit" level="debug"/>
            <appender-ref ref="fileError" level="error"/>
        </Logger>
        <logger name="org.apache" level="error" additivity="false">	
			<appender-ref ref="fileError" />		
			<appender-ref ref="console" />
		</logger>

        <Root level="error">
            <appender-ref ref="fileError" />
            <appender-ref ref="console" />
        </Root>
    </Loggers>
</Configuration>