@charset "UTF-8";

.error-body-view-main-picture{
  float: left;
  width: 70%;
  text-align: center;
}

.error-content{
  float: left;
  width: 30%;
  height: 30%;
  margin: 20% 0 0 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 200%;
  color: red;
}